on: workflow_dispatch

permissions:
  id-token: write
  contents: read

name: Azure Bicep
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [dev, test, prod]
    environment: ${{ matrix.environment }}
    steps:
      - uses: actions/checkout@main
      - uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          enable-AzPSSession: true
      - name: Run ARM deploy
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ vars.AZURE_RG }}
          template: ./InfrastructureAsCode/main.bicep
          deploymentName: ${{ vars.TARGET_ENVIRONMENT }}
          parameters: environment=${{ vars.TARGET_ENVIRONMENT }}
